# pycharm
.idea

# secrets
.secrets

# pyenv
.python-version

# jupyter notebooks
.ipynb_checkpoints

# environment
.env

# django
__pycache__/

# data
*.csv

# outputs
*.html

# neo4j
data/databases/*
data/transactions/*
data/dbms/*
neo4j/databases/*
neo4j/transactions/*
neo4j/dbms/*
logs/*

# tests / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log
